@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-nunito-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gold-gradient-text {
    background: linear-gradient(
      189deg,
      var(--color-gold-400) 35%,
      var(--color-gold-500) 24%,
      var(--color-gold-900) 84%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
