:root {
  /* Neutral colors */
  --color-neutral: #ffffff;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #2e2e2e;
  --color-neutral-825: #1e1e1e;
  --color-neutral-850: #1d1d1d;
  --color-neutral-900: #171717;
  --color-neutral-1000: #0a0a0a;

  /* Blue colors */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  /* Indigo colors */
  --color-indigo-50: #f0f3ff;
  --color-indigo-100: #e0e8ff;
  --color-indigo-200: #c8d3fe;
  --color-indigo-300: #a6b4fc;
  --color-indigo-400: #828df8;
  --color-indigo-500: #6467f2;
  --color-indigo-600: #5048e5;
  --color-indigo-700: #463acb;
  --color-indigo-800: #372fa2;
  --color-indigo-900: #312e7f;

  /* Fuchsia colors */
  --color-fuchsia-50: #fdf5ff;
  --color-fuchsia-100: #f9e5ff;
  --color-fuchsia-200: #f5d2fe;
  --color-fuchsia-300: #f0abfc;
  --color-fuchsia-400: #e87bf9;
  --color-fuchsia-500: #d948ef;
  --color-fuchsia-600: #bf27d3;
  --color-fuchsia-700: #a31daf;
  --color-fuchsia-800: #85198f;
  --color-fuchsia-900: #711a75;

  /* Gold colors */
  --color-gold-50: #fef6e6;
  --color-gold-100: #fdedcd;
  --color-gold-200: #fce4b5;
  --color-gold-300: #fad384;
  --color-gold-400: #f7b93d;
  --color-gold-500: #f5a70f;
  --color-gold-600: #dc970d;
  --color-gold-700: #c4860c;
  --color-gold-800: #ab760a;
  --color-gold-900: #7a5407;
  --color-gold-950: #312203;

  /* Amber colors */
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c8;
  --color-amber-200: #fde68b;
  --color-amber-300: #fcd44f;
  --color-amber-400: #fbbd23;
  --color-amber-500: #f59f0a;
  --color-amber-600: #db7706;
  --color-amber-700: #b35309;
  --color-amber-800: #91400d;
  --color-amber-900: #76350f;

  /* Green colors */
  --color-green: #c2e2df;
  --color-green-50: #ebf8e0;
  --color-green-100: #dcf1c8;
  --color-green-200: #c7eba6;
  --color-green-300: #96d759;
  --color-green-400: #6bc417;
  --color-green-500: #5fae14;
  --color-green-600: #4f9211;
  --color-green-700: #3b6d0d;
  --color-green-800: #2f570a;
  --color-green-900: #234107;
  --color-green-950: #172b05;

  /* Emerald colors */
  --color-emerald-50: #eafbf3;
  --color-emerald-100: #ddf5ea;
  --color-emerald-200: #bdebd6;
  --color-emerald-300: #82d6b0;
  --color-emerald-400: #50c28f;
  --color-emerald-500: #25ad70;
  --color-emerald-600: #039855;
  --color-emerald-700: #027a44;
  --color-emerald-800: #025c33;
  --color-emerald-900: #013d22;

  /* Pea colors */
  --color-pea-50: #f5f9e4;
  --color-pea-100: #ecf2ca;
  --color-pea-200: #d9e699;
  --color-pea-300: #c7d96d;
  --color-pea-400: #b5cc45;
  --color-pea-500: #a4bf20;
  --color-pea-600: #94ac1d;
  --color-pea-700: #738617;
  --color-pea-800: #526010;
  --color-pea-900: #31390a;

  /* Orange colors */
  --color-orange-50: #fff6eb;
  --color-orange-100: #ffedd6;
  --color-orange-200: #fed6a9;
  --color-orange-300: #fdba72;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97415;
  --color-orange-600: #e9590c;
  --color-orange-700: #c03f0c;
  --color-orange-800: #9b3412;
  --color-orange-900: #7d2d12;

  /* Pink colors */
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce8f4;
  --color-pink-200: #fbd0e8;
  --color-pink-300: #f9a9d5;
  --color-pink-400: #f471b5;
  --color-pink-500: #ec4699;
  --color-pink-600: #db2979;
  --color-pink-700: #bf185d;
  --color-pink-800: #9b174c;
  --color-pink-900: #811842;

  /* Beige */
  --color-beige: #fffde7;

  /* Red colors */
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #f4b7b7;
  --color-red-300: #e24c4c;
  --color-red-400: #df3838;
  --color-red-500: #dc2626;
  --color-red-600: #c52222;
  --color-red-700: #6e1313;
  --color-red-800: #580f0f;
  --color-red-900: #420b0b;
  --color-red-950: #2c0707;

  /* Yellow colors */
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #e1aa1f;
  --color-yellow-600: #c8971c;
  --color-yellow-700: #af8418;
  --color-yellow-800: #7d5f11;
  --color-yellow-900: #4b390a;
  --color-yellow-950: #322607;

  /* Cyan colors */
  --color-cyan-50: #ebfeff;
  --color-cyan-100: #cdfafe;
  --color-cyan-200: #a6f4fc;
  --color-cyan-300: #67e8f9;
  --color-cyan-400: #20d3ee;
  --color-cyan-500: #07b6d5;
  --color-cyan-600: #088eaf;
  --color-cyan-700: #0e7490;
  --color-cyan-800: #155f75;
  --color-cyan-900: #164f64;

  /* Sky colors */
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e1f3fe;
  --color-sky-200: #bae5fd;
  --color-sky-300: #7ed4fc;
  --color-sky-400: #3abff8;
  --color-sky-500: #0da2e7;
  --color-sky-600: #0284c5;
  --color-sky-700: #0369a0;
  --color-sky-800: #075783;
  --color-sky-900: #0c4a6e;

  /* Purple colors */
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;

  /* Shadows */
  --shadow-light-xs:
    0 2px 12px -2px rgba(16, 24, 40, 0.06), 0 0 8px -2px rgba(16, 24, 40, 0.04);
  --shadow-light-sm:
    0 12px 40px -4px rgba(16, 24, 40, 0.08),
    0 4px 8px -2px rgba(16, 24, 40, 0.03);
  --shadow-light-md:
    0 20px 48px -4px rgba(16, 24, 40, 0.08),
    0 8px 16px -4px rgba(16, 24, 40, 0.03);
  --shadow-light-lg: 0 24px 64px -12px rgba(16, 24, 40, 0.18);
  --shadow-light-xl: 0 32px 80px -12px rgba(16, 24, 40, 0.2);

  --shadow-dark-xs:
    0 0 0.5px 0 rgba(0, 0, 0, 0.5), 0 0.5px 0 0 rgba(255, 255, 255, 0.1) inset,
    0 0 0.5px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  --shadow-dark-sm:
    0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 3px 8px 0 rgba(0, 0, 0, 0.35), 0 0 0.5px 0 rgba(255, 255, 255, 0.3) inset,
    0 1px 3px 0 rgba(0, 0, 0, 0.5);
  --shadow-dark-md:
    0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 5px 12px 0 rgba(0, 0, 0, 0.35),
    0 0 0.5px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  --shadow-dark-lg:
    0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 10px 16px 0 rgba(0, 0, 0, 0.35),
    0 0 0.5px 0 rgba(255, 255, 255, 0.35) inset, 0 2px 5px 0 rgba(0, 0, 0, 0.35);
  --shadow-dark-xl:
    0 0.5px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 10px 24px 0 rgba(0, 0, 0, 0.45),
    0 0 0.5px 0 rgba(255, 255, 255, 0.35) inset, 0 3px 5px 0 rgba(0, 0, 0, 0.35);
}

/* Semantic color tokens */
[data-theme="light"] {
  --primary-gold: var(--color-gold-500);
  --primary-dark-700: var(--color-neutral-700);
  --primary-darker-800: var(--color-neutral-800);
  --primary-base-1000: var(--color-neutral-1000);
  --primary-subtle-300: var(--color-neutral-300);
  --primary-soft-200: var(--color-neutral-200);
  --primary-weak-100: var(--color-neutral-100);

  --surface-canvas: var(--color-neutral-50);
  --surface-base: var(--color-neutral);
  --surface-floating: var(--color-neutral);

  --bg-base-1000: var(--color-neutral-1000);
  --bg-strong-800: var(--color-neutral-800);
  --bg-emphasis-700: var(--color-neutral-700);
  --bg-emphasis-400: var(--color-neutral-400);
  --bg-subtle-300: var(--color-neutral-300);
  --bg-soft-200: var(--color-neutral-200);
  --bg-weak-100: var(--color-neutral-100);
  --bg-muted-50: var(--color-neutral-50);
  --bg-base: var(--color-neutral);

  --stroke-stronger-900: var(--color-neutral-900);
  --stroke-strong-500: var(--color-neutral-500);
  --stroke-base-300: var(--color-neutral-300);
  --stroke-soft-200: var(--color-neutral-200);
  --stroke-disabled: var(--color-neutral-200);

  --text-strong-1000: var(--color-neutral-1000);
  --text-subtle-700: var(--color-neutral-700);
  --text-soft-500: var(--color-neutral-500);
  --text-disabled: var(--color-neutral-400);
  --text-inverce: var(--color-neutral);
  --text-on-accent: var(--color-neutral);

  --icon-strong-1000: var(--color-neutral-1000);
  --icon-subtle-700: var(--color-neutral-700);
  --icon-base-500: var(--color-neutral-500);
  --icon-disabled: var(--color-neutral-400);
  --icon-inverce: var(--color-neutral);
  --icon-on-accent: var(--color-neutral);

  --error-strong-800: var(--color-red-800);
  --error-base-600: var(--color-red-600);
  --error-subtle-500: var(--color-red-500);
  --error-soft-400: var(--color-red-400);
  --error-light-200: var(--color-red-200);
  --error-lighter-100: var(--color-red-100);
  --error-muted-50: var(--color-red-50);

  --warning-strong-800: var(--color-yellow-800);
  --warning-base-600: var(--color-yellow-600);
  --warning-subtle-500: var(--color-yellow-500);
  --warning-soft-400: var(--color-yellow-400);
  --warning-muted-50: var(--color-yellow-50);

  --success-strong-800: var(--color-green-800);
  --success-base-600: var(--color-green-600);
  --success-subtle-500: var(--color-green-500);
  --success-soft-400: var(--color-green-400);
  --success-light-200: var(--color-green-200);
  --success-lighter-100: var(--color-green-100);
  --success-muted-50: var(--color-green-50);

  --info-strong-800: var(--color-blue-800);
  --info-base-600: var(--color-blue-600);
  --info-subtle-500: var(--color-blue-500);
  --info-soft-400: var(--color-blue-400);
  --info-light-200: var(--color-blue-200);
  --info-muted-50: var(--color-blue-50);

  --add-cyan-50: var(--color-cyan-50);
  --add-cyan-300: var(--color-cyan-300);
  --add-cyan-900: var(--color-cyan-900);
  --add-sky-50: var(--color-sky-50);
  --add-sky-300: var(--color-sky-300);
  --add-sky-900: var(--color-sky-900);
  --add-indigo-50: var(--color-indigo-50);
  --add-indigo-300: var(--color-indigo-300);
  --add-indigo-900: var(--color-indigo-900);
  --add-purple-50: var(--color-purple-50);
  --add-purple-300: var(--color-purple-300);
  --add-purple-900: var(--color-purple-900);
  --add-fuchsia-50: var(--color-fuchsia-50);
  --add-fuchsia-300: var(--color-fuchsia-300);
  --add-fuchsia-900: var(--color-fuchsia-900);
  --add-pink-50: var(--color-pink-50);
  --add-pink-300: var(--color-pink-300);
  --add-pink-900: var(--color-pink-900);
  --add-orange-50: var(--color-orange-50);
  --add-orange-300: var(--color-orange-300);
  --add-orange-900: var(--color-orange-900);
  --add-amber-50: var(--color-amber-50);
  --add-amber-300: var(--color-amber-300);
  --add-amber-900: var(--color-amber-900);
  --add-pea-50: var(--color-pea-50);
  --add-pea-300: var(--color-pea-300);
  --add-pea-900: var(--color-pea-900);
  --add-emerald-50: var(--color-emerald-50);
  --add-emerald-300: var(--color-emerald-300);
  --add-emerald-900: var(--color-emerald-900);
  --add-red-50: var(--color-red-50);
  --add-red-300: var(--color-red-300);
  --add-red-900: var(--color-red-900);
  --add-green-50: var(--color-green-50);
  --add-green-300: var(--color-green-300);
  --add-green-900: var(--color-green-900);
  --add-blue-50: var(--color-blue-50);
  --add-blue-300: var(--color-blue-300);
  --add-blue-900: var(--color-blue-900);
  --add-yellow-50: var(--color-yellow-50);
  --add-yellow-300: var(--color-yellow-300);
  --add-yellow-900: var(--color-yellow-900);

  --shadow-xs: var(--shadow-light-xs);
  --shadow-sm: var(--shadow-light-sm);
  --shadow-md: var(--shadow-light-md);
  --shadow-lg: var(--shadow-light-lg);
  --shadow-xl: var(--shadow-light-xl);
}
[data-theme="dark"] {
  --primary-gold: var(--color-gold-500);
  --primary-dark-700: var(--color-neutral-300);
  --primary-darker-800: var(--color-neutral-200);
  --primary-base-1000: var(--color-neutral);
  --primary-subtle-300: var(--color-neutral-600);
  --primary-soft-200: var(--color-neutral-700);
  --primary-weak-100: var(--color-neutral-800);

  --surface-canvas: var(--color-neutral-1000);
  --surface-base: var(--color-neutral-900);
  --surface-floating: var(--color-neutral-850);

  --bg-base-1000: var(--color-neutral);
  --bg-strong-800: var(--color-neutral-200);
  --bg-emphasis-700: var(--color-neutral-300);
  --bg-emphasis-400: var(--color-neutral-500);
  --bg-subtle-300: var(--color-neutral-600);
  --bg-soft-200: var(--color-neutral-700);
  --bg-weak-100: var(--color-neutral-800);
  --bg-muted-50: var(--color-neutral-850);
  --bg-base: var(--color-neutral-1000);

  --stroke-stronger-900: var(--color-neutral-300);
  --stroke-strong-500: var(--color-neutral-400);
  --stroke-base-300: var(--color-neutral-600);
  --stroke-soft-200: var(--color-neutral-700);
  --stroke-disabled: var(--color-neutral-700);

  --text-strong-1000: var(--color-neutral);
  --text-subtle-700: var(--color-neutral-300);
  --text-soft-500: var(--color-neutral-400);
  --text-disabled: var(--color-neutral-600);
  --text-inverce: var(--color-neutral-1000);
  --text-on-accent: var(--color-neutral);

  --icon-strong-1000: var(--color-neutral);
  --icon-subtle-700: var(--color-neutral-300);
  --icon-base-500: var(--color-neutral-500);
  --icon-disabled: var(--color-neutral-600);
  --icon-inverce: var(--color-neutral-1000);
  --icon-on-accent: var(--color-neutral);

  --error-strong-800: var(--color-red-600);
  --error-base-600: var(--color-red-500);
  --error-subtle-500: var(--color-red-400);
  --error-soft-400: var(--color-red-300);
  --error-light-200: var(--color-red-800);
  --error-lighter-100: var(--color-red-900);
  --error-muted-50: var(--color-red-950);

  --warning-strong-800: var(--color-yellow-600);
  --warning-base-600: var(--color-yellow-500);
  --warning-subtle-500: var(--color-yellow-400);
  --warning-soft-400: var(--color-yellow-300);
  --warning-muted-50: var(--color-yellow-950);

  --success-strong-800: var(--color-green-600);
  --success-base-600: var(--color-green-500);
  --success-subtle-500: var(--color-green-400);
  --success-soft-400: var(--color-green-300);
  --success-light-200: var(--color-green-800);
  --success-lighter-100: var(--color-green-900);
  --success-muted-50: var(--color-green-950);

  --info-strong-800: var(--color-blue-600);
  --info-base-600: var(--color-blue-500);
  --info-subtle-500: var(--color-blue-400);
  --info-soft-400: var(--color-blue-300);
  --info-light-200: var(--color-blue-800);
  --info-muted-50: var(--color-blue-950);

  --add-cyan-50: var(--color-cyan-900);
  --add-cyan-300: var(--color-cyan-600);
  --add-cyan-900: var(--color-cyan-50);
  --add-sky-50: var(--color-sky-900);
  --add-sky-300: var(--color-sky-600);
  --add-sky-900: var(--color-sky-50);
  --add-indigo-50: var(--color-indigo-900);
  --add-indigo-300: var(--color-indigo-600);
  --add-indigo-900: var(--color-indigo-50);
  --add-purple-50: var(--color-purple-900);
  --add-purple-300: var(--color-purple-600);
  --add-purple-900: var(--color-purple-50);
  --add-fuchsia-50: var(--color-fuchsia-900);
  --add-fuchsia-300: var(--color-fuchsia-600);
  --add-fuchsia-900: var(--color-fuchsia-50);
  --add-pink-50: var(--color-pink-900);
  --add-pink-300: var(--color-pink-600);
  --add-pink-900: var(--color-pink-50);
  --add-orange-50: var(--color-orange-900);
  --add-orange-300: var(--color-orange-600);
  --add-orange-900: var(--color-orange-900);
  --add-amber-50: var(--color-amber-900);
  --add-amber-300: var(--color-amber-600);
  --add-amber-900: var(--color-amber-50);
  --add-pea-50: var(--color-pea-900);
  --add-pea-300: var(--color-pea-600);
  --add-pea-900: var(--color-pea-50);
  --add-emerald-50: var(--color-emerald-900);
  --add-emerald-300: var(--color-emerald-600);
  --add-emerald-900: var(--color-emerald-50);
  --add-red-50: var(--color-red-900);
  --add-red-300: var(--color-red-600);
  --add-red-900: var(--color-red-50);
  --add-green-50: var(--color-green-900);
  --add-green-300: var(--color-green-600);
  --add-green-900: var(--color-green-50);
  --add-blue-50: var(--color-blue-900);
  --add-blue-300: var(--color-blue-600);
  --add-blue-900: var(--color-blue-50);
  --add-yellow-50: var(--color-yellow-900);
  --add-yellow-300: var(--color-yellow-600);
  --add-yellow-900: var(--color-yellow-50);

  --shadow-xs: var(--shadow-dark-xs);
  --shadow-sm: var(--shadow-dark-sm);
  --shadow-md: var(--shadow-dark-md);
  --shadow-lg: var(--shadow-dark-lg);
  --shadow-xl: var(--shadow-dark-xl);
}
