.root {
  border-radius: 10px;

  border: 1px solid var(--color-neutral-300);

  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-neutral-1000);
}

.rootVariantInput {
  padding: 11px;
}
.rootVariantTextarea {
  padding: 11px;
  padding-bottom: 9px;
}

.root > input::placeholder,
.root > textarea::placeholder {
  color: var(--color-neutral-500);
}

.root:hover {
  border-color: var(--color-neutral-500);
}

.root:focus-within {
  border-color: var(--color-neutral-900);
}

.rootHasError,
.rootHasError:hover,
.rootHasError:focus-within {
  border-color: var(--color-red-500);
}

.rootHasDisabled,
.rootHasDisabled:hover,
.rootHasDisabled:focus-within {
  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-200);
}

.rootHasDisabled > input::placeholder,
.rootHasDisabled > textarea::placeholder {
  color: var(--color-neutral-400);
}

:global(.dark) .root {
  border-color: var(--color-neutral-600);
  color: var(--color-neutral);
  background-color: var(--color-neutral-900);
}

:global(.dark) .root > input::placeholder,
:global(.dark) .root > textarea::placeholder {
  color: var(--color-neutral-500);
}

:global(.dark) .root:hover {
  border-color: var(--color-neutral-400);
}

:global(.dark) .root:focus-within {
  border-color: var(--color-neutral-400);
}

:global(.dark) .rootHasDisabled,
:global(.dark) .rootHasDisabled:hover,
:global(.dark) .rootHasDisabled:focus-within {
  background-color: var(--color-neutral-800);
  border-color: var(--color-neutral-700);
}

:global(.dark) .rootHasDisabled > input::placeholder,
:global(.dark) .rootHasDisabled > textarea::placeholder {
  color: var(--color-neutral-600);
}
