.heroImageWrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.heroImageBg {
  position: absolute;
  inset: 0;
  background-color: #010101;
}

.heroImageContainer {
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 559px;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  left: -32.34%;
  top: 9.3%;
  width: 171.21%;
  height: 99.66%;
  max-width: none;
  object-fit: cover;
}

@media (min-width: 768px) {
  .heroImageContainer {
    left: 232px;
    right: auto;
    top: 280px;
    bottom: auto;
    width: 536px;
    height: 659px;
  }

  .heroImage {
    left: 0;
    top: 0;
    width: 154.1%;
    height: 108.97%;
  }
}

@media (min-width: 1024px) {
  .heroImageContainer {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    width: 920px;
    height: 800px;
  }

  .heroImage {
    left: 0;
    top: 8.12%;
    width: 100%;
    height: 100.11%;
  }
}

@media (min-width: 1440px) {
  .heroImageContainer {
    width: 920px;
  }
}

@media (min-width: 1920px) {
  .heroImageContainer {
    width: 1127px;
  }

  .heroImage {
    top: -12.38%;
    height: 122.45%;
  }
}

@media (min-width: 2560px) {
  .heroImageContainer {
    left: 1194px;
    right: auto;
  }
}
